<div class="navbar navbar-inverse" role="navigation" style="height: 40px; background-image: url(app/static/images/background.jpg); background-size: cover; background-repeat: no-repeat;">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              
            </button>

        </div>
        <!-- <a class="navbar-brand" href="#Nav">
            <h2 style="color:orangered; align-items: center; padding: 30px;">Click takes you to News</h2> -->

        </a>
    </div>
</div>